<script setup>
import { ref } from 'vue';

const emit = defineEmits(['submit']);

const input = ref('');

const newTodo = ref(null);

const addTodo = () => {
  emit('submit', input.value);

  input.value = '';

  newTodo.value.focus();
};
</script>

<template>
  <div class="p-4 bg-gray-100">
    <div class="flex items-center">
      <input
        ref="newTodo"
        v-model="input"
        type="text"
        class="flex-1 mr-2 py-2 px-4 rounded-md border border-gray-300"
        placeholder="Новая задача"
        autofocus
      />
      <button
        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md"
        @click="addTodo"
      >
        Добавить
      </button>
    </div>
  </div>
</template>
