<script setup>
import { ref, onMounted } from 'vue';
import TodoItem from './TodoItem.vue';
import TodoForm from './TodoForm.vue';

defineProps({
  title: String,
});

const todos = ref([]);

const fetchTodos = async () => {
  await fetch('https://dummyapi.online/api/todos')
    .then((response) => response.json())
    .then((data) => {
      todos.value = data.slice(0, 10);
    });
};

const addTodo = (title) => {
  if (!title) return;

  todos.value = [
    ...todos.value,
    {
      id: Date.now(),
      title: title,
      completed: false,
    },
  ];
};

const toggleTodo = (id) => {
  const index = todos.value.findIndex((todo) => todo.id === id);

  if (index !== -1) {
    todos.value = [
      ...todos.value.slice(0, index),
      { ...todos.value[index], completed: !todos.value[index].completed },
      ...todos.value.slice(index + 1),
    ];
  }
};

const deleteTodo = (id) => {
  todos.value = todos.value.filter((todo) => todo?.id !== id);
};

onMounted(fetchTodos);
</script>

<template>
  <div class="max-w-sm md:max-w-lg mx-auto my-10 bg-white rounded-md shadow-md overflow-hidden">
    <h1 class="text-2xl font-bold text-center py-4 bg-gray-100">{{ title }}</h1>
    <ul class="list-none p-4" v-show="todos.length">
      <TodoItem
        v-for="todo in todos"
        :key="todo.id"
        :todo="todo"
        @toggle="toggleTodo"
        @remove="deleteTodo"
      />
    </ul>
    <TodoForm @submit="addTodo" />
  </div>
</template>
